*.pyc
**/build/
**/install/
**/log/

.pre_commit_cache/
.idea/*
.vscode
.cache/*
/venv

docker/nav2_example/gazebo_init/*
!docker/nav2_example/gazebo_init/.gitkeep

*IfcConvert
**/__pycache__/
**.pytest_cache/
**/htmlcov/
.coverage
